@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager
@model DevBook.Models.PostModel

@{
    ViewData["Title"] = "Index";
}

<div class="container my-3">
    <h1>Delete Post</h1>
    <hr />
    <div class="d-flex my-5">
        <div class="col-9">
            <h1 class="text-center p-3 mx-1 rounded" style="background-color:#eceeef;">@Model.Title</h1>
            <div class="">
                <div class="post-content mb-3 w-100">
                    @Html.Raw(@Model.Content)
                </div>
                <div class="mb-3">
                    @foreach (var postTag in Model.PostTags)
                    {
                        <span class="badge tag-span p-2 mb-3 rounded">@postTag.Tag.Name</span>
                    }
                </div>
                @{
                    var userId = Model.UserId;
                }
                @if (!string.IsNullOrEmpty(userId))
                {
                    var user = await _userManager.FindByIdAsync(userId);
                    if (user != null)
                    {
                        <p class="col-sm-6 mb-1 written-by">Written by @user.FirstName @user.LastName</p>
                    }
                }
                <p class="mb-4">
                    @Model.CreatedAt
                </p>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="submit" value="Delete" class="btn btn-primary rounded" />
                <a asp-action="Index" class="btn btn-primary rounded mx-3">Back to List</a>
            </form>
            <hr />
        </div>
        <div class="col-3">
            @if (Model.ImageUrl != null)
            {
                <img class="img-fluid rounded" src="@Model.ImageUrl" alt="Post Image" />
            }
        </div>
    </div>

</div>