@model IEnumerable<DevBook.Models.PostModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.TagList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @foreach (var postTag in item.PostTags)
                {
                    <span class="badge bg-secondary">@postTag.Tag.Name</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                    @if (item.PostImage != null)
                    {
                        <img class="img-fluid" src="data:image/jpeg;base64,@Convert.ToBase64String(item.PostImage)" alt="Post Image" />
                    }
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
