@model IEnumerable<DevBook.Models.PostModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevBook</h1>
    <h4>A developer blog</h4>
</div>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var post in Model)
        {
            <div class="col">
                <div class="card h-100 rounded shadow">
                    <div class="card-body">
                        <h4 class="card-title mb-4">@post.Title</h4>
                        <h5 class="card-subtitle mb-2 text-muted">Written by @(post.User != null ? post.User.FirstName + " " + post.User.LastName : "Unknown")</h5>
                        <hr />
                        <p class="card-text card-content">
                            @post.Content
                        </p>
                        <p>
                            @if (post.PostTags != null && post.PostTags.Any())
                            {
                                @foreach (var postTag in post.PostTags)
                                {
                                    <span class="badge bg-secondary bg-warning p-2 rounded">@postTag.Tag.Name</span>
                                }
                            }
                        </p>
                        <a href="@Url.Action("Details", "Home", new {id = post.Id})" class="btn btn-primary rounded">Read More</a>
                    </div>
                    <div class="card-footer text-muted">
                        Created on: @post.CreatedAt.ToString("MM/dd/yyyy")
                    </div>
                </div>
            </div>
    }

</div>
